@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-blue-400 card;
  }
}

@layer components {
  .card {
    background-color: yellow;
    padding: 50px;
    border-radius: 50px;
  }
}
